.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carousel {
  width: 500px;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    padding: 24px;
  }

  .logo {
    width: 300px;
    height: 300px;
  }
  
  .carousel {
    width: 350px;
  }
}

/* .marieWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.marie {
  border-radius: 50%;
  width: 150px;
  height: 150px;
} */